{{!-- {{#unless isAuthorized}}
<div class="alert alert-warning text-center" role="alert">
  <h4>Для покупки необходимо <a href="/auth"> авторизоваться<a></h4>
</div>
{{/unless}} --}}

{{#if isAuthorized}}
{{> promoAuth}}
{{else}}
<div class="alert alert-warning text-center" role="alert">
  <h4>Для покупки необходимо <a href="/auth" class="alert-link"> авторизоваться<a></h4>
</div>
{{> promo}}
{{/if}}

<h3>Лекарства</h3>
{{#if isAuthorized}}
{{#each drugs}}
<div data-id="{{id}}">
  <img src="{{image}}" alt="" width="200">
  <h4>{{name}}</h4>
  <p>Описание: {{info}}</p>
  <p>Цена: {{price}}</p>
  <p>цена со скидкой: {{price}}</p>
  <button class="js-buy">купить</button>
</div>
{{/each}}
{{else}}
{{#each drugs}}
<div data-id="{{id}}">
  <img src="{{image}}" alt="" width="200">
  <h4>{{name}}</h4>
  <p>Описание: {{info}}</p>
  <p>Цена: {{price}}</p>
  <p>цена со скидкой: {{price}}</p>
</div>
{{/each}}
{{/if}}
